# ============================================================================
# .gitignore
# This file tells Git which files/folders to ignore in version control.
# Common use cases include build outputs, logs, temporary files, IDE settings, etc.
# ============================================================================

/dep/
/build/
/build.paho/
*.swp
*.pyc
/build.paho
.vscode/
